<div class="jumbotron">
    <h1>Web Recipe with Alchemy</h1>

    <div>
        <div class="lead form-group">
            <label for="recipe">Recipe :</label>
            <textarea [(ngModel)]="recipe" class="form-control" rows="6" cols="100" id="recipe" style="min-width: 100%"></textarea>
        </div>
        <p><button href="http://asp.net" class="btn btn-primary btn-lg" (click)="Fetch()">let the magic happen &raquo;</button></p>
    </div>

</div>

<div *ngIf="failed">
    {{errorMsg}}
</div>



<div class="row" *ngIf="ready">
    <div class="col-md-4">
        <h2>Ingredients</h2>
        <ul>
            <li *ngFor="let x of ingredients">{{x}}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>More info</h2>
        <p *ngIf="CookingTime">Cooking Time : {{CookingTime.text | recipeDecode}}</p>
        <p *ngIf="PreparationTime">Preparation Time: {{PreparationTime.text | recipeDecode}}</p>
        <p *ngIf="Quantity">For {{Quantity.text | recipeDecode}} persons</p>
        <p *ngIf="Diet">Diet: {{Diet.text | recipeDecode}}</p>
        <p *ngIf="Budget">Budget: {{Budget.text | recipeDecode}}</p>
        <p *ngIf="RecipeType">Type : {{RecipeType.text | recipeDecode}}</p>
        <p *ngIf="RecipeLevel">Level: {{RecipeLevel.text | recipeDecode}}</p>
    </div>
    <div class="col-md-4">
        <h2>IBM Watson</h2>
        <img [src]="src" width="200px" />
    </div>
</div>